* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: rgba(0, 50, 40, 0.25);
}

h1 {
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-transform: uppercase;
  font-size: 2.25rem;
  color: white;
  background-color: rgba(30, 20, 40, 0.5);
  box-shadow: 0 0 5px 2px white;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
  padding: 2vh 1vw 1vh;
  margin: auto;
  max-width: 1500px;
}

.ships-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direction-change {
  width: fit-content;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  border: 2px solid black;
  padding: 15px 20px;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
  }

  &:active {
    border: 2px solid whitesmoke;
  }
}

.turns-info {
  width: fit-content;
  margin: 5vh auto 0;
  text-align: center;
  text-transform: uppercase;
  padding: 2vh 5vw;
  font-size: 1.5rem;
  background-color: rgba(0, 50, 40, 0.25);
  color: white;
}

.game-start {
  width: 50%;
  margin: 5vh auto 0;
  text-align: center;
  text-transform: uppercase;
  padding: 2vh 5vw;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: crimson;
  color: whitesmoke;
  transition: opacity 750ms;

  &:hover {
    background-color: red;
  }

  &:active {
    color: red;
    background-color: white;
  }
}

.hidden {
  opacity: 0;
  cursor: default;
}
