.cell {
  border: 1px solid black;
  flex-basis: 10%;
  height: 10%;
  background-color: rgba(0, 50, 40, 0.30);
}

.ship {
  background-color: red;
}

.miss {
  background-color: cornsilk;
}

.hit {
  background-color: crimson;
}

.sunk {
  background-color: darkgoldenrod;
}

.clickable {
  cursor: pointer;
}
