.gameboard-container {
  h2 {
    text-align: center;
    padding-bottom: 2vh;
    text-transform: uppercase;
  }
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  height: 650px;
  width: 650px;
  background-color: rgba(255, 248, 220, 0.5);
  box-shadow: 0 0 5px 2px black;
}
