.ships-placement {
  width: 650px;

  h2 {
    text-align: center;
    padding-bottom: 2vh;
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }

  .ship-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .ship-name {
      color: darkgreen;
    }

    .unit-cell {
      height: 50px;
      width: 50px;
      border: 1px solid black;
    }
  }

}