.ships-placement {
  h2 {
    text-align: center;
    padding-bottom: 2vh;
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }

  .ship-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh auto;
    border: 1px solid darkgreen;
    padding: 5px 10px;
    cursor: pointer;
    transition: box-shadow 200ms;

    &:hover {
      box-shadow: 0 0 4px 2px black;
    }

    .ship-name {
      text-transform: uppercase;
    }

    .unit-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .unit-cell {
        height: 50px;
        width: 50px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;

        &:first-child {
          border-left: 1px solid black;
        }
      }
    }
  }
}
